<% content_for(:page_header) { "Vines to choose!"} %>
<h3>Step 2 - Add a title, choose the <%= @tag%> vines you'll use to create your movie, and submit! </h3>
<div class="search_results">

<%= form_for @movie do |f| %>
  <%= f.label "Movie Title" %> 
  <%= f.text_field :title, class: "form-control" %> <br>
  <% @vines.each do |v| %>

  <video id="video" type="video/mp4" preload="auto" src=<%= v.video_url %>></video>
  <input id="movie_vines_attributes" name="movie[vines_attributes][][video_url]" value='<%= v.video_url %>' type="checkbox">
<!-- 
<h1> Aw shoot...sorry. Couldn't find any results. Try something a little simpler like "Skateboarding" </h1>
 -->
<%end%>
  <%= f.submit %>
<% end %>

</div>