<% content_for(:page_header) { "Your video...so far!"} %>
<h3><%= @movie.title.capitalize %></h3>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <div class="reel">
    <% @movie.vines.each do |v| %>
      <%= video_tag(v.video_url, :'data-id' => v.id, muted:true, preload: true) %>
    <% end %>
  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <% @movie.vines.each do |v| %>
    <div data-id='<%=v.id%>' class='col-xs-4'>
      <%= video_tag(v.video_url, :'data-id' => v.id, muted:true, preload: true, class: 'clips') %>
      <%= button_to "Delete from movie", movie_vine_path(@movie, v), method: :delete, remote: true %>
    </div>
    <% end %>
  </div>

</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag(search_path, method: 'get', remote: true, class: "navbar-form", role: "search") do %>
 <h4>Search to Add More Vines</h4>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="puppies" name="tag">
        <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
        
  <% end %> 
  </div>
</div>

<%= form_for @movie do |f| %>
<div class="search-results">

</div>
<%= f.submit "Add vines to movie" %>
<% end %>
