<% content_for(:page_header) { "#{@user.name}" } %>


<section id="portfolio" class="gray-bg padding-top-bottom">

  <div class="container">
  
    <header class="section-header text-center">
      <h1>My Movies</h1>
    </header>
        
  </div><!--End portfolio header -->
  
</section>


<div class="my-movies container">
  <ul>
  <% @movies.each_with_index do |m, i| %>
    <li>
          <%= m.title %>
          <div class="reel-test">
            <% m.vines.each do |v| %>
              <%= video_tag(v.video_url, :'data-id' => v.id, muted:true, preload: true) %>
            <% end %>
          </div>
        <%= link_to 'View', movie_path(m) %>
        |
        <%= link_to 'Edit', edit_movie_path(m) %>
        |
        <%= link_to 'Delete', movie_path(m), method: :delete %> <br>
        
  <li>
  <% end %>
</ul>
</div>